body{
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
.container{
    width:80%;
    margin:auto;
    box-sizing:border-box;
    overflow: auto;
}
html, body{
    height: 100%;
}
.wrapper{
    min-height:100%;
}
.main{
    padding-bottom: 150px;
}
.footer{
    margin-top: -100px;
    clear: both;
}
.hamburger, .times, .logoForMenu, .navbarForMenu, .footerLinksMenu{
    display: none;
}

/*navabar styling*/

.navContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}
.navbar ul {
    display:flex;
    text-decoration: none;
    list-style: none;
    margin-top:25px;
}
.navbar li {
    margin:0 0 0 30px;
    font-size:22px;
}
.navbar ul a{
    text-decoration:none;
    color:#333399;
}
.navbar a:hover{
    color:#999933;
}
nav .currentPage{
    border-bottom: #333399 2px solid;
}

/*Ending of navbar styling*/

.borderSection{
    background-color:#333399;
    color:#333399;
    padding:10px;
    margin-bottom:50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.required:after{
    content:"*";
    color:red;
}
.contactDetails{
    flex:1;
    color:#333;
}

.contactDetails h1{
    color:#e8491d;
}
form{
    flex:1;
}
.contact{
    max-width: 100%;
    display:flex;
    justify-content: space-between;
}

.firstForm, .secondForm{
    display: flex;
    justify-content: flex-end;
}

.contactDetails{
    flex:1;
}

form{
    flex:2;
    background-color: #B2BEB5;
    padding: 30px 60px 30px 50px;
}

.secondForm p{
    margin:0;
}

.formFlex input{
    width:350px;
    height:50px;
    margin-right:20px;
}
.messageForm{
   float: right;
}
.messageForm p{
    margin-bottom: 0;
}
.messageForm textarea{
    width:730px;
    height:100px;
    margin-right:20px;
}
.formFlex select{
    width:360px;
    height:35px;
    margin-right:20px;
}
.messageForm button{
    font-size:18px;
    border:0;
    width:100px;
    height:35px;
    color:white;
    background-color:#e8491d;
}
footer li{
    list-style: none;
}

.footerLinks i, .footerLinks li a{
    text-decoration: none;
    color:white;
}
.footerLinks ul li a:hover{
    color:#999933;
}

.footerLinks p{
    color:white;
    padding-top: 50px;
}
.footerFlex{
    margin: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.footerLinks{
    padding-bottom: 10px;
    box-sizing: border-box;
}
footer{
    margin-top:50px;
   background-color: #333399;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

@media(max-width : 768px){
    #navContainer,
    .expectImages,
    .newsOutlet .container,
    .footerFlex, .contact, .firstForm, .secondForm{
        display:flex;
        flex-direction: column;
    }
    .displayTimesButton{
        height: 100%;
    }
    .wrapperMenu{
        min-height:100%;
    }
    .mainMenu{
        padding-bottom: 60px;
    }
    .footerLinksMenuList{
        align-items: center;
        height: 60;
        margin-top: -60px;
        clear: both;
    }
    .formFlex input{
        width:100%;
        height:50px;
        margin-right:20px;
    }
    .newsOutlet h1, .contact{
        margin-bottom: 0;
        text-align: center;
    }
    .borderSection{
        padding: 1px;
    }

    form{
        text-align:center;
        margin-bottom:10px;
    }

    .footerLinks{
        text-align: center;
    }

    .footerLinks p{
        margin: 0;
        padding: 0;
    }
    footer ul{
        margin: 0;
        padding: 0;
    }

    .messageForm textarea{
        text-align: center;
        margin-bottom:10px;
    }
    button{
        width:365px;
        margin:0;
    }
    .expectImages,
    .newsOutlet .container,
    .footerFlex{
        display:flex;
        flex-direction: column;
    }
    .hamburger i{
        color:#333399;
    }
    .logo img, .logoPush img{
        width: 100px;
        height: auto;
    }
    .logoPush{
    margin: 10px 0 0 30px;
  }
    .times i{
        color:red;
        background-color: white;
        margin: 25px 20px 0 0;
        float:right;
    }
    .newsOutlet h1{
        margin-bottom: 0;
        text-align: center;
    }
    form{
        text-align:center;
        margin-bottom:10px;
    }
    .footerLinks{
        text-align: center;
    }
    .footerLinks p{
        margin: 0;
        padding: 0;
    }
    footer ul{
        margin: 0;
        padding: 0;
    }
    .hamburger, .times, .logoForMenu, .navbarForMenu, .footerLinksMenu{
        display: contents;
    }
    .navbar{
        display:none;
    }
    .navContainer{
        display: flex;
        justify-content: space-between;
        height: 107px;
    }
    .removeNavContainer{
        height:0;
        overflow:hidden;
    }
    .timesButton{
        position: fixed;
        background-color: white;
        top:0;
        left:0;
        height:100%;
        width:100%;
        transition-property:transform;
        transform:translate(-100%);
        transition-duration: 1s;
        transition-timing-function:ease-out;
    }
    .displayTimesButton{
        overflow: hidden;
        position: fixed;
        background:white;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition-property: transform;
        transform: translate(0);
        transition-duration: 1s;
        transition-timing-function: ease-out;
    }
    .times i{
        transition-property:transform;
        transition-duration: 1s;
    }
     .times i:hover{
        transform:rotate(540deg);
    }

    .hamburger i{
        animation-name:hamburger;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes hamburger{

        0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.2);
          }
          100% {
            transform: scale(1);
          }

    }

          /* Navbar for menu */
        .logoPush{
            margin: 10px 0 0 30px;
        }   
        .navbarForMenu ul {
            display:flex;
            flex-direction: column;
            text-decoration: none;
            list-style: none;
        }
        
        .navbarForMenu li {
            margin:0 30px 0 0;
            font-size:16px;
            margin:20px;
        }
        
        .navbarForMenu ul a{
            text-decoration:none;
            color:#333399;
            display:block;
        }
        
        .navbarForMenu a:hover{
            color:#999933;
        }
        .navbarForMenu .currentPage{
            border-bottom:0;
        }

        /*Nav animation*/

         .navbarForMenu li a{
            transition-property: all;
            transition-duration: 0.5s;
        }

        .navbarForMenu li a:hover{
            margin-left:30px;
        } 
        .navbarForMenu li a:active{
            margin-left:30px;
        } 

        .navbarForMenu li a:hover{
            animation-name: bignav;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        .navbarForMenu li a:active{
            animation-name: bignav;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @keyframes bignav{
            0% {
                background-color:#333399; color:white; transform: scale(1); padding: 5px;
            }
            100% {
                background-color:#333399; color:white; transform: scale(1.2); padding: 5px;
            }
        }
        
        /*footer link*/
        .footerLinksMenuList{
            align-items: center;
            justify-content: center;
        }
        .footerLinksMenu li{
            list-style: none;
        }
        .footerLinksMenu ul{
            display:flex;
        }
        .footerLinksMenu i{
            color:#333399;
            padding: 20px;
        }
        
        @media(min-width: 400px){
        .displayTimesButton{
            width: 400px;
        }
    }
}

@media(max-width: 1315px){
    .contact, .firstForm, .secondForm{
        display:flex;
        flex-direction: column;
        text-align: center;
    }
    .formFlex input{
        width:100%;
        height:50px;
        margin-right:20px;
    }
    .formFlex select{
        width:100%;
        height:35px;
    }
    button{
        width:100%;
        height:35px;
    }
    .messageForm{
        float: none;
    }
    .messageForm textarea{max-width: 100%}
    .messageForm button{width: 100%}
}
@media(max-width: 768px){
    .formFlex input{
        height:20px;
    }
    .formFlex select{
        height:20px;
    }
    button{
        height:25px;
    }
    .messageForm{
        float: none;
    }
    .messageForm textarea{max-width: 100%}
    .messageForm button{width: 100%}
}